* {
  box-sizing: border-box;
}

header {
	color: white;
	width: 900px;
	padding: 0px;
	margin: 0 auto;
  text-align: center;
	top: 0px;
	background-color: none;
	z-index:1;
  /*box-shadow:  0px 4px 8px #888888;*/
}

h1 {
	font-weight: bold;
	font-style: normal;
	font-size: 100;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	color: black;
}

h2 {
	font-weight: 1;
	text-align: center;
	font-size: 20;
  padding: 0px 10px 0px 20px;
	color: grey;
}

h3 {
	font-weight:normal;
	color: black;
  padding: 0px;
  font-size: 32px;
  margin: 0px;
  text-align: left;
  background: white;
}

h4 {
  font-weight: normal;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  color: grey;
}

h5 {
  font-size: 16px;
  margin: 0px;
}

h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}

h7 {
  font-size: 22px;
  font-weight: bold;
}

h8 {
  margin: 0 auto;
  text-align: center;
  color:grey;
}

nav {
  top: 20;
	background-color: #FCAD48;
	width: 900px;
	margin: 0 auto;
  margin-top: 20px;
  box-shadow:  0px 4px 8px #888888;
}

nav ul {
	list-style: none;
  text-align: left;
	padding: 0;
	margin: 0 auto;
  display: inline;
	background-color: none;
}

nav ul li {
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
  font-size: medium;
  background-color: none;
}

nav ul li a {
	padding: 12px 16px 12px 16px;
	text-decoration: none;
	display: block;
	color: white;
}

nav ul li a:hover {
	background-color: rgba(255,255,255,0.2);
}

nav ul li a img {
  vertical-align: middle;
  max-height: 22px;
}

.navImg {
  padding: 10px;
}

.portImg {
  box-shadow: 0px 4px 8px #888888;
  width: 100%;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  /*padding: 20px;*/
  background: #f1f1f1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.column {
  margin: 0 auto;
  width: 900px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-bottom: 20px;
   box-shadow:  0px 4px 8px #888888;
   display: inline-block;
   width: 100%;
}

.cardContainer {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.contactCard {
   background-color: white;
   padding: 20px;
   margin: 20px;
   box-shadow:  0px 4px 8px #888888;
   display: inline-block;
   width: 200px;
   height: 200px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  color: grey;
}

.sectionTitle {
  text-align: center;
  background-color: none;
  font-size: 30px;
  color: grey;
}

.avatar {
  float: left;

  min-width: 150px;
  width: 25%;
  margin: 0px 20px 0px 0px;
  margin-bottom: auto;
  box-shadow: 0px 4px 8px #888888;
}

#rightNav {
  display: inline-block;
  float: right;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column, nav, header {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
    .column, nav, header, #rightNav {
      margin: auto;
      width: 100%;
      padding: 0;
    }

    body {
      margin: 0;
    }

    #rightNav {
      float:none;
      text-align: center;
    }

    #rightNav li {
      display: block;
    }

    nav ul li {
      display: block;
    }

    nav ul {
      text-align: center;
    }

    .avatar {
      margin: 10px auto 30px auto;
      display: block;
      float: none;
      width: 50%;
    }
}
