body {
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;
}

#page {
	
}

header {
	color: black;
	height: 80px;
	width: 100%;
	padding: 0px;
	top: 0px;
	position: fixed;
	background-color: rgba(255,255,255,0.5);
	z-index:1;
}

h1 {
	margin-left: 20px;
	font-weight: bold;
	line-height: 10px;
	font-style: normal;
}

h2 {
	margin-left: 20px;
	line-height: 20px;
	font-weight: 100;
}

nav {
	height: 50px;
	width: 80%;
	color:black;
	
	top: 0px;
}

nav ul {
	list-style:none;
	padding: 0px;
}

nav ul li {
	display: block;
	position: relative;
	float: left;
	font-size: 16px;
	vertical-align: text-middle;
}

nav ul li a {
	display: block;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	height: 30px;
}

#drop-menu {
	display: none;
	background-color: #001B40;
	width: 140px;
	text-align: left;
	float: left;
	position: absolute;
	margin: 10px 0px 0px 0px;
}

#drop-menu a {
	height: 20px;
}

#drop-nav li:hover #drop-menu {
	display: block;
}

#drop-nav li:hover {
	cursor: pointer;
	background-color: #003E94 !important;
}

#drop-nav li #drop-menu a:hover {
	cursor: pointer;
	background-color: #003E94;
}

#drop-nav li {
	padding: 10px;
	height: 30px;
	text-align: center;
	
	/* Prevent buttons text from being selected */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

#drop-nav {
	margin: 0px;
}

#drop-nav a{
	color: white;
	margin: 0px;
}

section {
	margin-top: 100px;
	min-height: 800px;
}

section h1 {
	text-align: center;
}

#project-table {
	table-layout: fixed;
	padding: 0px;
	width: 100%;
}
#project-table tbody{
	left: -2px;
	margin: 0px;
	padding: 0px;
	position: relative;
	
}
#project-table td{
	
	width: 100%;
	height: 180px;
	padding: 0px;
	border-style: none none solid none;
	border-color: lightgrey;
	border-width: 0px;
	word-wrap:break-word;
}

#project-table td img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



#offer-table {
	width: 100%;
}

#offer-table tr{
	height: 300px;
}

#offer-table img {
	width: 100%;
	height: auto;
}

footer {
	text-align: center;
	color: grey;
	margin-top: 100px;
	padding:10px;
	border-color: lightgrey;
	border-style: solid none none none;
	border-width: 1px;
}

@media screen and (min-width: 1450px) {
	
	aside {
		display: block;
	}
	
	#basket-show {
		background-color: #003E94;
	}
}

@media screen and (max-width: 650px) {
	
	.small-menu {
		display: block;
	}
	
	.big-menu {
		display: none;
	}
	
}
