body {
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;
}

#page {
	background-color: white;
}

header {
	color: white;
	height: 140px;
	width: 100%;
	padding: 0px;
	top: 0px;
	background-color: rgba(0,0,0,1);
	z-index:1;
}

h1 {
	font-weight: bold;
	font-style: normal;
	font-size: 50px;
	text-align: center;
	line-height: 20px;
	margin: 0;
	padding-top: 40px;
}

h2 {
	line-height: 20px;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

nav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
}

nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: red;
	display: inline-block;
}

nav ul li {
	float: left;
	width: 100px;
}

nav ul li a {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	display: block;
	color: white;
}
nav ul li a:hover {
	background-color: white;
}
section {
	margin-top: -32px;
	padding-top: 0px;
	background-color: black;
}

section div {
	background-color:black;
	height:50px;
	z-index: 1;
}

section h1 {
	text-align: center;
}

#project-table {
	table-layout: fixed;
	padding: 0px;
	width: 100%;

}
#project-table tbody{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#project-table tr{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#project-table td{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#project-table td img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



#offer-table {
	width: 100%;
}

#offer-table tr{
	height: 300px;
}

#offer-table img {
	width: 100%;
	height: auto;
}

footer {
	text-align: center;
	color: grey;
	margin-top: 100px;
	padding:10px;
	border-color: lightgrey;
	border-style: solid none none none;
	border-width: 1px;
}

@media screen and (min-width: 1450px) {
	
	aside {
		display: block;
	}
	
	#basket-show {
		background-color: #003E94;
	}
}

@media screen and (max-width: 650px) {
	
	.small-menu {
		display: block;
	}
	
	.big-menu {
		display: none;
	}
	
}
