body {
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;
}

#page {
	margin-top: 100px;
}

header {
	color: white;
	height: 30px;
	width: 100%;
	padding: 0px;
	background-color: #001B40;
	position: fixed;
	top: 0px;
}

nav {
	height: 30px;
	width: 100%;
	background-color: #001B40;
	color:white;
	position: fixed;
	top: 50px;
}

nav ul {
	list-style:none;
	padding: 0px;
}

nav ul li {
	display: block;
	position: relative;
	float: left;
	font-size: 16px;
	vertical-align: text-middle;
}

nav ul li a {
	display: block;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	height: 30px;
}

#drop-menu {
	display: none;
	background-color: #001B40;
	width: 140px;
	text-align: left;
	float: left;
	position: absolute;
	margin: 0px 0px 0px -10px;
}

#drop-menu a {
	height: 20px;
}

#drop-nav li:hover #drop-menu {
	display: block;
}

#drop-nav li:hover {
	cursor: pointer;
	background-color: #003E94 !important;
}

#drop-nav li #drop-menu a:hover {
	cursor: pointer;
	background-color: #003E94;
}

#drop-nav li {
	padding: 10px;
	height: 30px;
	text-align: center;
	
	/* Prevent buttons text from being selected */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

#drop-nav {
	margin: 0px;
}

#drop-nav a{
	color: white;
	margin: 0px;
}

aside {
	display: none;
	width: 300px;
	min-height: 100px;
	position: fixed;
	right: 0px;
	top: 100px;
	background-color: #003E94;
	border-color: lightgrey;
	border-style: none none solid solid;
	border-width: 0px;
	color: white;
}

aside h1 {
	text-align: center;
}

aside table {
	margin: 10px;
	width: 280px;
	table-layout:fixed;
}

aside table tr{
	display: table-row;
	height: 50px;
}

aside table tr td {
	word-wrap:break-word;
}

section {
	min-height: 800px;
	padding: 10px;
	max-width: 1250px;
	margin: auto;
}

section h1 {
	text-align: center;
}

#product-table {
	max-width: 2000px;
	table-layout: fixed;
}

#product-table td{
	width: 180px;
	height: 180px;
	border-style: none none solid none;
	border-color: lightgrey;
	border-width: 1px;
	word-wrap:break-word;
}

.small-menu {
	display: none;
}

.table-left {
	float:left;
}

.table-middle {
	float:left; 
}

.table-right {
	float:left;
}

.dragged {
	opacity: 0.6;
	position: absolute;
	z-index: 1;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
}

.dragged td {
	border-style: none;
}

.dragged .product-add {
	display: none;
}

.product-img {
	padding: 0px;
	max-width: 200px;
	max-height: 180px;
}

.product-det {
	padding: 10px;
	vertical-align: text-top;
}

.product-submit {
	width: 60px;
	height: 30px;
}

#offer-table {
	width: 100%;
}

#offer-table tr{
	height: 300px;
}

#offer-table img {
		width: 100%;
		height: auto;
}

.contact {
	max-width: 600px;
}

.contact table{
	width: 100%;
}

.contact-link {
	background-color: #001B40;
	height: 50px;
}

.contact-link:hover{
	background-color: #003E94;
	height: 50px;
}

.contact-link a{
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	color: white;
}

footer {
	text-align: center;
	color: grey;
	margin-top: 100px;
	padding:10px;
	border-color: lightgrey;
	border-style: solid none none none;
	border-width: 1px;
}

@media screen and (min-width: 1450px) {
	
	aside {
		display: block;
	}
	
	#basket-show {
		background-color: #003E94;
	}
}

@media screen and (max-width: 650px) {
	
	.small-menu {
		display: block;
	}
	
	.big-menu {
		display: none;
	}
	
}
